force-app/main/default/flows/Contact_Interaction_Main_Screen-5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>End_Call</name>
        <choiceText>End Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End</stringValue>
        </value>
    </choices>
    <choices>
        <name>Health_Assessment</name>
        <choiceText>Health Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Claim</name>
        <choiceText>Submit Claim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Take_Satisfaction_Survey</name>
        <choiceText>Take Satisfaction Survey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SatisfactionSurvey</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Flow_To_Take</name>
        <label>Which Flow To Take</label>
        <locationX>287</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SubmitClaimDirection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhichDirection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit_Claim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClaimFlowRef</targetReference>
            </connector>
            <label>SubmitClaimDirection</label>
        </rules>
        <rules>
            <name>HealthAssessmentDirection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhichDirection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Health_Assessment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Health_Assessment_Flow</targetReference>
            </connector>
            <label>HealthAssessmentDirection</label>
        </rules>
        <rules>
            <name>SatisfactionSurveyDirection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhichDirection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Take_Satisfaction_Survey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SatisfactionSurveyFlow</targetReference>
            </connector>
            <label>SatisfactionSurveyDirection</label>
        </rules>
        <rules>
            <name>EndCallDirection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhichDirection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>End_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete</targetReference>
            </connector>
            <label>EndCallDirection</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Interaction</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupContact</name>
        <label>LookupContact</label>
        <locationX>57</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact.Birthdate</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Group_Number__c</assignToReference>
            <field>Group_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Policy_ID__c</assignToReference>
            <field>Policy_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>190</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompleteMsg</name>
            <fieldText>Flow is complete</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>58</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Flow_To_Take</targetReference>
        </connector>
        <fields>
            <name>welcomeMessage</name>
            <fieldText>Hello {!Contact.FirstName} {!Contact.LastName}, What can I help you with today?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhichDirection</name>
            <choiceReferences>Submit_Claim</choiceReferences>
            <choiceReferences>Take_Satisfaction_Survey</choiceReferences>
            <choiceReferences>Health_Assessment</choiceReferences>
            <choiceReferences>End_Call</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>LookupContact</startElementReference>
    <subflows>
        <name>ClaimFlowRef</name>
        <label>ClaimFlowRef</label>
        <locationX>46</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <flowName>ClaimFlow</flowName>
        <inputAssignments>
            <name>ContactInfo</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Health_Assessment_Flow</name>
        <label>Health Assessment Flow</label>
        <locationX>319</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <flowName>Health_Assessment_Flow</flowName>
        <inputAssignments>
            <name>ContactInfo</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SatisfactionSurveyFlow</name>
        <label>SatisfactionSurveyFlow</label>
        <locationX>483</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <flowName>SatisfactionSurveyFlow</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
