force-app/main/default/flows/Health_Assessment_Flow-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HighRiskActionPlanCreation</name>
        <label>HighRiskActionPlanCreation</label>
        <locationX>648</locationX>
        <locationY>609</locationY>
        <actionName>CreateActionPlan</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Number_Lookup</targetReference>
        </connector>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>HighRiskPlanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactInfo.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseCreationId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MediumRiskPlanCreation</name>
        <label>MediumRiskPlanCreation</label>
        <locationX>368</locationX>
        <locationY>650</locationY>
        <actionName>CreateActionPlan</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Number_Lookup</targetReference>
        </connector>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>MediumRiskPlanId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactInfo.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseCreationId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Survey_Total</name>
        <label>Survey Total</label>
        <locationX>126</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q1Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q2Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q3Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q4Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q5Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResultTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>q6Answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HealthAssessmentChoice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Always_or_Almost_Always</name>
        <choiceText>Always or Almost Always</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Never_or_Almost_Never</name>
        <choiceText>Never or Almost Never</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Occasionally</name>
        <choiceText>Occasionally</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Often</name>
        <choiceText>Often</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_Often</name>
        <choiceText>Very Often</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>HealthAssessmentChoice</name>
        <label>HealthAssessmentChoice</label>
        <locationX>128</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>High_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultTotal</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRiskPlanLookup</targetReference>
            </connector>
            <label>High Risk</label>
        </rules>
        <rules>
            <name>Medium_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultTotal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurveyResultTotal</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MediumRiskPlanLookup</targetReference>
            </connector>
            <label>Medium Risk</label>
        </rules>
        <rules>
            <name>Low_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultTotal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Great_Work</targetReference>
            </connector>
            <label>Low Risk</label>
        </rules>
    </decisions>
    <interviewLabel>Health Assessment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Health Assessment Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_Number_Lookup</name>
        <label>Case Number Lookup</label>
        <locationX>530</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Action_Plan_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseCreationId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>HighRiskPlanLookup</name>
        <label>HighRiskPlanLookup</label>
        <locationX>646</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HighRiskActionPlanCreation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>High Risk</stringValue>
            </value>
        </filters>
        <object>Action_Plan_Template__c</object>
        <outputAssignments>
            <assignToReference>HighRiskPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MediumRiskPlanLookup</name>
        <label>MediumRiskPlanLookup</label>
        <locationX>369</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MediumRiskPlanCreation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Medium Risk</stringValue>
            </value>
        </filters>
        <object>Action_Plan_Template__c</object>
        <outputAssignments>
            <assignToReference>MediumRiskPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Display_Action_Plan_Number</name>
        <label>Display Action Plan Number</label>
        <locationX>529</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActionPlanCompleteMessage</name>
            <fieldText>{!ContactInfo.FirstName}, Action Plan {!CaseNumber} has been created for you. 
You should receive an email shortly and our coaching staff will reach out to you.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Great_Work</name>
        <label>Great Work</label>
        <locationX>129</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>goodworkMessage</name>
            <fieldText>Thank you for taking the Assessment. Based on your score, you are doing great. 
Keep up the good work!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Health_Assessment_Abbreviated_pt1</name>
        <label>Health Assessment Abbreviated pt1</label>
        <locationX>123</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Health_Assessment_Abbreviated_pt2</targetReference>
        </connector>
        <fields>
            <name>questionStatement</name>
            <fieldText>Please answer the following Questions which best identifies your response to each corresponding statement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q1</name>
            <fieldText>I engage in moderate physcial activity outside of work for at least 20 to 30 minutes at least 5 days a week</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q1Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q2</name>
            <fieldText>My physicial activity includes stretching, aerobic activity and strength conditioning</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q2Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q3</name>
            <fieldText>I take the health benefits of physicial activites and their lasting impact seriously</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q3Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Health_Assessment_Abbreviated_pt2</name>
        <label>Health Assessment Abbreviated pt2</label>
        <locationX>124</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Total</targetReference>
        </connector>
        <fields>
            <name>q4</name>
            <fieldText>I eat at least five services of fruits and vegetables every day (one serving equals one half cup)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q4Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q5</name>
            <fieldText>I eat at fast food restaurants less than three times per week</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q5Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q6</name>
            <fieldText>I include foods that are high in fiber in my diet on a daily basis (i.e. whole grains breads and cereals, beans, etc.)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>q6Answer</name>
            <choiceReferences>Never_or_Almost_Never</choiceReferences>
            <choiceReferences>Occasionally</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Very_Often</choiceReferences>
            <choiceReferences>Always_or_Almost_Always</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <startElementReference>Health_Assessment_Abbreviated_pt1</startElementReference>
    <variables>
        <name>CaseCreationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>HighRiskPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MediumRiskPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyResultTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
