force-app/main/default/flows/SatisfactionSurveyFlow-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssessSurveyValue</name>
        <label>AssessSurveyValue</label>
        <locationX>460</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EasyFileClaimAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChoiceDoctorAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClaimOutcomeAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HowEasyFindDoctorAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HowFriendlyAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KnowledgeableEmployeeAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProfessionalEmployeeAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThankYou1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Extremely_easy</name>
        <choiceText>Extremely easy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_friendly</name>
        <choiceText>Extremely friendly</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_happy</name>
        <choiceText>Extremely happy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_knowledgeable</name>
        <choiceText>Extremely knowledgeable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_professional</name>
        <choiceText>Extremely professional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Moderately_easy</name>
        <choiceText>Moderately easy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Moderately_friendly</name>
        <choiceText>Moderately friendly</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Moderately_happy</name>
        <choiceText>Moderately happy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Moderately_knowledgeable</name>
        <choiceText>Moderately knowledgeable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Moderately_professional</name>
        <choiceText>Moderately professional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all_easy</name>
        <choiceText>Not at all easy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all_friendly</name>
        <choiceText>Not at all friendly</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all_happy</name>
        <choiceText>Not at all happy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all_knowledgeable</name>
        <choiceText>Not at all knowledgeable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all_professional</name>
        <choiceText>Not at all professional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Slightly_easy</name>
        <choiceText>Slightly easy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Slightly_friendly</name>
        <choiceText>Slightly friendly</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Slightly_happy</name>
        <choiceText>Slightly happy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Slightly_Knowledgeable</name>
        <choiceText>Slightly Knowledgeable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Slightly_professional</name>
        <choiceText>Slightly professional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_easy</name>
        <choiceText>Very easy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_friendly</name>
        <choiceText>Very friendly</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_happy</name>
        <choiceText>Very happy</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_knowledgeable</name>
        <choiceText>Very knowledgeable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Very_professional</name>
        <choiceText>Very professional</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>If_Filed_Claim</name>
        <label>If Filed Claim</label>
        <locationX>52</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FiledClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiledClaimAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_easy_to_file_claim</targetReference>
            </connector>
            <label>FiledClaim</label>
        </rules>
        <rules>
            <name>NotFiledClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiledClaimAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Friendly_and_Knowledgeable_Employees</targetReference>
            </connector>
            <label>NotFiledClaim</label>
        </rules>
    </decisions>
    <interviewLabel>SatisfactionSurveyFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SatisfactionSurveyFlow</label>
    <processType>Flow</processType>
    <screens>
        <name>Have_You_Filed_A_Claim_with_US</name>
        <label>Have You Filed A Claim with US</label>
        <locationX>65</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Filed_Claim</targetReference>
        </connector>
        <fields>
            <name>HaveYouFiledClaimBefore</name>
            <fieldText>How you filed a Claim With Us Before?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FiledClaimAnswer</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>How_easy_to_file_claim</name>
        <label>How easy to file claim</label>
        <locationX>289</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_Friendly_and_Knowledgeable_Employees</targetReference>
        </connector>
        <fields>
            <name>HowEasyFileClaimQuestion</name>
            <fieldText>How easy is it to file a claim with us?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EasyFileClaimAnswer</name>
            <choiceReferences>Extremely_easy</choiceReferences>
            <choiceReferences>Very_easy</choiceReferences>
            <choiceReferences>Moderately_easy</choiceReferences>
            <choiceReferences>Slightly_easy</choiceReferences>
            <choiceReferences>Not_at_all_easy</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>HowHappyOutcomeMessage</name>
            <fieldText>How Happy are you with the outcome of your claim?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimOutcomeAnswer</name>
            <choiceReferences>Extremely_happy</choiceReferences>
            <choiceReferences>Very_happy</choiceReferences>
            <choiceReferences>Moderately_happy</choiceReferences>
            <choiceReferences>Slightly_happy</choiceReferences>
            <choiceReferences>Not_at_all_happy</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>How_Friendly_and_Knowledgeable_Employees</name>
        <label>How Friendly and Knowledgeable Employees</label>
        <locationX>281</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssessSurveyValue</targetReference>
        </connector>
        <fields>
            <name>HowfriendlyQuestion</name>
            <fieldText>How friendly are the employees at our company?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowFriendlyAnswer</name>
            <choiceReferences>Extremely_friendly</choiceReferences>
            <choiceReferences>Very_friendly</choiceReferences>
            <choiceReferences>Moderately_friendly</choiceReferences>
            <choiceReferences>Slightly_friendly</choiceReferences>
            <choiceReferences>Not_at_all_friendly</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>knowledgeableEmployeeQuestion</name>
            <fieldText>How knowledgeable are the employees at our company?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KnowledgeableEmployeeAnswer</name>
            <choiceReferences>Extremely_knowledgeable</choiceReferences>
            <choiceReferences>Very_knowledgeable</choiceReferences>
            <choiceReferences>Moderately_knowledgeable</choiceReferences>
            <choiceReferences>Slightly_Knowledgeable</choiceReferences>
            <choiceReferences>Not_at_all_knowledgeable</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ProfessionalEmployeeQuestion</name>
            <fieldText>How professional are the employees at our company?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProfessionalEmployeeAnswer</name>
            <choiceReferences>Extremely_professional</choiceReferences>
            <choiceReferences>Very_professional</choiceReferences>
            <choiceReferences>Moderately_professional</choiceReferences>
            <choiceReferences>Slightly_professional</choiceReferences>
            <choiceReferences>Not_at_all_professional</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>How_with_Choice_of_Doctor</name>
        <label>How with Choice of Doctor</label>
        <locationX>66</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Have_You_Filed_A_Claim_with_US</targetReference>
        </connector>
        <fields>
            <name>DoctorChocieMsg</name>
            <fieldText>How happy are you with the choice of doctors you have with your health plan?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceDoctorAnswer</name>
            <choiceReferences>Extremely_happy</choiceReferences>
            <choiceReferences>Very_happy</choiceReferences>
            <choiceReferences>Moderately_happy</choiceReferences>
            <choiceReferences>Slightly_happy</choiceReferences>
            <choiceReferences>Not_at_all_happy</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>SatisfactionSurveyScreen1</name>
        <label>SatisfactionSurveyScreen1</label>
        <locationX>64</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_with_Choice_of_Doctor</targetReference>
        </connector>
        <fields>
            <name>HowEasyFindDoctor</name>
            <fieldText>How easy is it to find a doctor in your area who participates in your health plan?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowEasyFindDoctorAnswer</name>
            <choiceReferences>Extremely_easy</choiceReferences>
            <choiceReferences>Very_easy</choiceReferences>
            <choiceReferences>Moderately_easy</choiceReferences>
            <choiceReferences>Slightly_easy</choiceReferences>
            <choiceReferences>Not_at_all_easy</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
    </screens>
    <screens>
        <name>ThankYou1</name>
        <label>ThankYou1</label>
        <locationX>457</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>Thank you {!Contact.FirstName} for taking our survey</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>SatisfactionSurveyScreen1</startElementReference>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SurveyScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
