mdapiconvert/LightningFlow/flows/ClaimFlow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>ClaimFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateClaimCase</name>
        <label>CreateClaimCase</label>
        <locationX>72</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>CreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Process This Claim</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>Invoice_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Claim Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Claim</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Case_Number</name>
        <label>Lookup Case Number</label>
        <locationX>260</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClaimNumberResponse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ClaimNumberResponse</name>
        <label>ClaimNumberResponse</label>
        <locationX>259</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NumberMessage</name>
            <fieldText>Your Claim number is {!CaseNumber}. You should receive an email notification shortly.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ClaimSubmission1</name>
        <label>ClaimSubmission1</label>
        <locationX>71</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Policy_Information</targetReference>
        </connector>
        <fields>
            <name>PaitentInfo</name>
            <fieldText>What are the patient Information:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactInfo.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactInfo.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ContactInfo.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date Of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Invoice_Info</name>
        <label>Invoice Info</label>
        <locationX>75</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateClaimCase</targetReference>
        </connector>
        <fields>
            <name>InvoiceInfo1</name>
            <fieldText>Please provide me:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Number</name>
            <dataType>String</dataType>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Invoice_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Invoice Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Policy_Information</name>
        <label>Policy Information</label>
        <locationX>72</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invoice_Info</targetReference>
        </connector>
        <fields>
            <name>PolicyInfo1</name>
            <fieldText>Will you please verify  for Insurance Information for me please?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Group_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactInfo.Group_Number__c</elementReference>
            </defaultValue>
            <fieldText>Group Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactInfo.Policy_ID__c</elementReference>
            </defaultValue>
            <fieldText>ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>ClaimSubmission1</startElementReference>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
